<%= form_for @conn, @action, [multipart: true, as: :transaction], fn f -> %>
  <%= if @result != nil do %>
    <div class="alert alert-danger">
      <p>Parsing transactions went wrong. Still need to implement error handling though :D</p>
    </div>
  <% end %>

  <%= label f, :file %>
  <%= file_input f, :file %>
  <%= error_tag f, :file %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
